/* 

it's parent is a div, using GRID of 3 x 3

I want to place title in the middle of the grid,
so it is column 2 / 3, row 2 / 3

*/

.commentTitle {
  font-size: 9.8rem;
  text-transform: uppercase;
  color: white;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  mix-blend-mode: difference;
}

@media (width<630px) {
  .commentTitle {
    font-size: 3.8rem;
  }
}
